---
import Badge from "@components/vue/_baseUi/badge.vue"; // si lo pasas a Astro
import BrandButton from "@components/vue/Brand/Button.vue";
import { Image } from "astro:assets";


const { title, serviceType, urlImage } = Astro.props;
const services = serviceType ? serviceType.split(',') : [];
const redirectTo = (url: string) => window.location.href = url;
---

  <article
  data-animate="from-bottom"
  class="relative w-full bg-[#100B00] h-fit flex flex-col gap-4 overflow-hidden rounded-3xl p-3 border border-neutral-700 card-shadow">
    <div class="absolute add-dots left-0 top-0 opacity-70 rounded-full w-full h-full"></div>
  
    <div class="w-full h-full z-20">
      {urlImage ? (
        <Image
          fetchpriority='high'
          src={urlImage}
          widths={[320, 640, 855, 1200]}
          format="webp"
          alt={`Portada de ${title}`}
          class="h-96 w-full max-w-[1089px] aspect-video rounded-xl object-cover"
        />
      ) : (
        <div class="h-96 w-full aspect-video rounded-xl bg-slate-600"></div>
      )}
  
      <div class="flex w-full flex-col gap-4 sm:gap-2 justify-center items-start">
        <div class="flex gap-1 py-2 w-full flex-wrap">
          {services.map(service => (
            <Badge key={service}>{service}</Badge>
          ))}
        </div>
        <div class="w-full md:w-[90%]">
          <h3 class="font-semibold  w-full font-heading text-neutral-300"><span class="text-amber-300">{services[0]}:</span> {title}</h3>
        </div>
  
        <BrandButton
          client:load
          text="Explorar Proyecto"
          bg-color="bg-amber-300"
          onClick={() => redirectTo('/404')}
        />
      </div>
    </div>
  </article>

<style >
  .card-shadow {
    box-shadow:
  2px 3px 0 #27272A,
  1px -1px 0 #F8FAFC,
  -1px -1px 0 #F8FAFC,
  -1px 1px 0 #F8FAFC,
  1px 4px 0 #F8FAFC,
  4px 2px 0 #F8FAFC,
  4px 4px 0 #F8FAFC,
  3px 4px 0 #F8FAFC;
  }
</style>


